---
import Icon from '../Icon.astro';
import MenuLink from './MenuLink.astro';
export interface Props {
  
}

const { 
   
} = Astro.props;

---
<section class="menu nav-listener">
    <div class="links">
        <MenuLink href="/" label="Home" />
        <MenuLink href="/about" label="About" />
        <MenuLink href="/work" label="Work" />
        <MenuLink href="/writing" label="Writing" />
        <MenuLink href="/resume" label="CV" />
    </div>
    <a class="mobile-menu">
        <div class="icon hamburger">
            <Icon name="menu" size='small' />
        </div>
        <div class="icon close">
            <Icon name="close" size='small' />
        </div>
    </a>
</section>

<style lang="scss">
    .menu {
        min-width: 335px;
        height: 32px;
        display: flex;
        transition: all 0.5s ease-in-out;
        .links {
            display: flex;
            gap: 1.5rem;
            height: 32px;
            overflow: hidden;
        }
        .mobile-menu {
            display: none;
            width: 24px;
            height: 24px;
            margin-top: 4px;
            margin-left: -12px;
            position: relative;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: var(--theme-ink);

            .icon {
                position: absolute;
                transition: all 0.5s ease-in-out;
                &.close {
                    opacity: 0;
                    transform: scale(0);
                }
            }

            &.switched .icon {
                &.hamburger {
                    opacity: 0;
                    transform: scale(0);
                }
                &.close {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    @media screen and (max-width: 50rem) {
        .menu {
            min-width: 100px;
            .links {
                display: none;
            }
            .mobile-menu {
                display: flex;
                cursor: pointer;
            }
        }
    }
</style>