---
import MenuLink from './MenuLink.astro';
export interface Props {
  
}

const { 
   
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const components = pathname.split('/')
const root = "/" + components[1]

---
<section id="menu" class="menu">
    <MenuLink href="/" label="Home" />
    <MenuLink href="/about" label="About" />
    <MenuLink href="/work" label="Work" />
    <MenuLink href="/writing" label="Writing" />
    <MenuLink href="/resume" label="CV" />
</section>

<style lang="scss">
    .menu {
        display: flex;
        gap: 2rem;
    }
</style>
