---
export interface Props {

}

const {

} = Astro.props;

import Icon from "../Icon.astro";
import MenuLink from "./MenuLink.astro";
---

<article id="open-sesame" class="mobile-links">
    <section class="menu-content">
        <div class="menu-links">
            <h5>MENU</h5>
            <MenuLink href="/" label="Home" />
            <MenuLink href="/about"  label="About" />
            <MenuLink href="/resume" label="Resume" />
            <MenuLink href="/work"  label="Work" />
            <MenuLink href="/writing" label="Thoughts" />
            <div class="menu-footer">
                <h3>Get in touch</h3>
                <span>
                    <a href="mailto:hello@karinatovar.com" target="_blank">Email me</a>
                    &nbsp;
                    <a href="https://www.linkedin.com/in/karina-tovar-castro/" target="_blank">LinkedIn</a>
                </span>
            </div>
        </div>
    </section>
</article>

<style lang="scss">
    /* This handles the overlay or dim layer */
    article {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: flex-start;
        padding: var(--spacing-medium) 0;
        justify-content: center;
        inset: 0;
        overflow: hidden;
        background: var(--theme-menu);
        backdrop-filter: blur(1rem);
        transition: opacity linear 0.2s;
        z-index: 1;
        height: 100%;
    }

    /* When targetted with #modalID */
    article:target, article.open-sesame {
        pointer-events: inherit;
        opacity: 1;
    }

    /* When the details is clicked, the animation is triggered on summary */
    article:target section, article.open-sesame section {
        animation: appear 0.5s var(--timing-curve-bounce);
    }

    /* This handles the actual centered modal */
    .menu {
        position: relative;
        &-content {
            width: 90%;
            max-width: 42rem;
            margin: 0 auto;
            position: fixed;
            top: 25vw;
        }

        &-links {
            background-color: var(--theme-background);
            margin: var(--spacing-small) auto;
            padding: var(--spacing-small);
            display: flex;
            gap: 1rem;
            flex-direction: column;
        }

        &-footer {
            padding: 2rem 0;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            gap: 1rem;
            color: var(--theme-ink);

            h3 {
                color: var(--theme-ink);
                font-weight: 400;
            }
        }

    }

    /* Magic */
    @keyframes appear {
        from {
            transform: scale(0.9);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

</style>
