---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../view/Content.astro";
import CardsGrid from "../../view/ContentGrid.astro";
import ArtCard from "../../components/cards/ArtCard.astro";
import Script_LazyLoadMini from "../../scripts/Script_LazyLoadMini.astro";
import IntroCard from '../../components/cards/IntroCard.astro';
---

<BaseLayout
    pageTitle="Artwork"
    footerMessage="work"
    footerTarget="/"
    showBanner="yes"
>
    <div class="spacer"></div>
    <Content space="small">
        <h1 class="billboard">A thesis in <span>human connectivity</span></h1>
        <p class="billboard">As an artist, I've spent a whole lot of time thinking about the impact of technology as well as the need for human connection. The pieces you'll see below are all about my passion for turning big ideas into real-world experiences that help folks connect with each other, get in touch with themselves, and feel more in tune with the world.</p>
        <div class="spacer-small"></div>
        <CardsGrid>
            <IntroCard
                width="full"
				theme='primary art'
				headline='Hello Stranger'
				image='/images/artwork/phone.webp'
				imageAlt='Case studies'
				href='/work/'>
				<p>2014, Interactive installation</p>
                <p><strong>Details coming soon</strong></p>
			</IntroCard>
        </CardsGrid>
        <CardsGrid columns="two">
            <ArtCard
                title="Here, There, and Everywhere"
                details="2015, Interactive installation"
                image1="/images/artwork/eye.png"
                image2="/images/artwork/eye.gif"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <ArtCard
                title="Live"
                details="2014, Interactive installation"
                image1="/images/artwork/live.png"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <!--
            <ArtCard
                title="Hello Stranger"
                details="2014, Interactive installation"
                image1="/images/artwork/phone.webp"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            -->
            <ArtCard
                title="Proximal"
                details="2014, Video performance"
                image1="/images/artwork/proximal-thumb.webp"
                image2="/images/artwork/proximal.gif"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <ArtCard
                title="Public Hearings"
                details="2014, Video performance"
                image1="/images/artwork/public-hearings-thumb.webp"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <ArtCard
                title="Sweet Nothings"
                details="2014, Video performance"
                image1="/images/artwork/sweet-nothings-thumb.webp"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <ArtCard
                title="And Those Who Were Seen"
                details="2014, Video performance"
                image1="/images/artwork/and-those-thumb.webp"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <ArtCard
                title="Encounters"
                details="2014, Video performance"
                image1="/images/artwork/encounters-thumb.webp"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            <ArtCard
                title="Bruxism"
                details="2012, Video performance"
                image1="/images/artwork/bruxism.png"
                image2="/images/artwork/bruxism.gif"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
        </CardsGrid>
        <CardsGrid>
            <IntroCard
                width="full"
				theme='primary art'
				headline='Grind'
				image='/images/artwork/grind-2.gif'
				imageAlt='Grind video performance'
				href='/work/'>
				<p>2012, Video installation and performance</p>
                <p><strong>Details coming soon</strong></p>
			</IntroCard>
        </CardsGrid>
            <!--
            <ArtCard
                title="Grind"
                details="2012, Video installation and performance"
                image1="/images/artwork/grind-2.png"
                image2="/images/artwork/grind-2.gif"
                link=""
                target=""
                showComingSoon="yes">
            </ArtCard>
            -->
    </Content>
</BaseLayout>

<Script_LazyLoadMini />



