---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../view/Content.astro";
import Icon from "../../components/Icon.astro";
---

<BaseLayout
    pageTitle="Artwork"
    footerMessage="work"
    footerTarget="/"
    showBanner="yes"
>
    <div class="spacer"></div>
    <Content space="large">
        <h1 class="billboard">A thesis in <span>human connectivity</span></h1>
        <p class="billboard">As an artist, I've spent a lot of time looking for ways to connect what's disconnected. The works below reflect my passion for bringing big ideas into tangible experiences that help people connect with each other, to themselves, and to the world.</p>
    </Content>
</BaseLayout>

<style lang="scss">

</style>
