@font-face {
    font-family: "Archia";
    src: url("/fonts/archia-thin-webfont.woff2") format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: "Archia";
    src: url("/fonts/archia-light-webfont.woff2") format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Archia";
    src: url("/fonts/archia-regular-webfont.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Archia";
    src: url("/fonts/archia-medium-webfont.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Archia";
    src: url("/fonts/archia-semibold-webfont.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Archia";
    src: url("/fonts/archia-bold-webfont.woff2") format("woff2");
    font-weight: 600;
}


:root {
    /* TYPOGRAPHY */
    --em-size: 18px;
    --spacing-xsmall: 1rem;
    --spacing-small: 2rem;
    --spacing-medium: 4rem;
    --spacing-large: 6rem;
    --font-headlines: 'Archia', system-ui, sans-serif;
    --font-copy: 'Archia',  system-ui, sans-serif;
    --border-radius: 1rem;

    /* EXTRA */
    --timing-curve-bounce: cubic-bezier(0, 1.5, 0.5, 1);

    /* NEW BRAND */

    --light-ink: #4A3950;
    --light-base: #FFFFFF;

    --dark-ink: #F0E6EF;
    --dark-base: #4A3950;
    --evening: var(--highlights-wine);

    --sunrise: #E4E7FF;
    --sunrise-accent: #FAFAFF;

    --sunset: #FADCC0;
    --sunset-accent: #FFFBF9;
    
    --ghost10: rgba(255, 255, 255, 0.10);
    --ghost25: rgba(255, 255, 255, 0.25);
    --ghost50: rgba(255, 255, 255, 0.50);
    --ghost75: rgba(255, 255, 255, 0.75);
    --white: #fff;

    --highlights-wine: #3F2B46;
    --highlights-mint: #EBF3EC;
    --highlights-sky: #DBEDFB;
    --highlights-cardboard: #E7D5C4;
    --highlights-cream: #EEEDE4;
    --highlights-silver: #F6F6F6;

}

html {
    background-color: var(--light-base);
    font-family: sans-serif;
    background-color: var(--theme-background);
    transition: background-color 0.5s ease;
}

body {
    line-height: 180%;
    -webkit-font-smoothing: antialiased;
    font-size: var(--em-size);
    color: var(--light-ink);
    letter-spacing: -.25px;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    font-family: var(--font-copy);
    font-weight: 500;
    margin: 0 auto;
    position: relative;
    will-change: transform;

    background-color: var(--theme-background);
    color: var(--theme-ink);
    transition: all 0s ease;
    animation: smooth 0.5s ease;
}

* {
    box-sizing: border-box;
}

::selection {
    background: var(--brand300)
}
::-moz-selection {
    background: var(--brand300)
}



  img,
  picture,
  video,
  canvas,
  svg {
      display: block;
      max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
      font: inherit;
  }

 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
        color: inherit;
        overflow-wrap: break-word;
  }

  h1 {
      font: 6rem/100% var(--font-headlines);
      margin: 0;
      font-weight: 400;
      letter-spacing: -6px;
  }

  h1.billboard {
      font-size: 7rem;
      font-weight: 500 ;
      letter-spacing: -4px;
  }

  h2 {
      font: 2.5rem/120% var(--font-headlines);
      margin: 0;
      font-weight: 500 !important;
      letter-spacing: -2px;
  }

  h3 {
    font: 1.5rem/120% var(--font-headlines);
        margin: 0 0 .5rem;
        font-weight: 600;
        letter-spacing: -.5px;

  }

  h5 {
    font: .8rem/120% var(--font-headlines);
    margin: 0 0 .5rem;
    font-weight: 600;
    letter-spacing: .5px;
  }

  p, 
  ul, 
  ol, 
  li {
    font-family: var(--font-copy);
    font-weight: 400;
    line-height: 140%;
    color: inherit;
  }

   p.billboard {
       font-size: 1.5rem;
       line-height: 140%;
       letter-spacing: -.5px;
   }

  a {
    color: inherit;
  }

  .spacer {
      content: '';
      width: 100%;
      padding: 2rem;
  }

  .spacer-small {
      content: '';
      width: 100%;
      padding: 1rem;
  }

  
@media only screen and (max-width: 70rem) {
    h1, h1.billboard {
        font-size: 6rem;
    }
    h2 {
        font-size: 2rem;
        letter-spacing: -1px;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 16px;
    }
    p.billboard {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 50rem) {
    h1,
    h1.billboard {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 1.5rem;
        letter-spacing: -.5px;
    }
    h3 {
        font-size: 1rem;
    }
    body {
        font-size: 16px;
    }
    p.billboard {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 35rem) {

    h1,
    h1.billboard {
        font-size: 3.5rem;
    }
}

 @keyframes smooth {
     0% {
         opacity: 0;
         transform: translateY(-20px);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }



 .info-grid {
     display: grid;
     grid-gap: var(--spacing-small);
     grid-template-columns: 1fr 1fr;
     margin-top: var(--spacing-small);

     .info-cell {
         display: flex;
         flex-direction: column;
         gap: .5rem;

         .label {
             font-size: 14px;
             margin: 0;
         }

         .detail {
             margin: 0;
         }

         .footer {
             font-size: 12px;
             margin: 0;
         }
     }
 }