:root {
    /* TYPOGRAPHY */
    --em-size: 18px;
    --spacing-xsmall: 1rem;
    --spacing-small: 2rem;
    --spacing-medium: 4rem;
    --spacing-large: 6rem;
    --font-headlines: 'IBM Plex Serif', system-ui, serif;
    --font-copy: 'Work Sans',  system-ui, sans-serif;

    /* EXTRA */
    --timing-curve-bounce: cubic-bezier(0, 1.5, 0.5, 1);

    /* COLORS */
    --greenInk: #56695A;
    --greenPaper: #F6FFF9;
    --green100: #E9F7EC;
    --green200: #EDFBF0;
    --green300: #A2D3AC;
    --green500: #7BB587;
    --greenHighlight: #A0F9B2;

    /* BRAND */
    --brandDark: #032325;
    --brand900: #0E3617;
    --brand700: #41694A;
    --brand500: #74AE80;
    --brand300: #A0FFB4;
    --brand100: #C9F9D3;
    --brand50: #ECFAEF;
    --brandLight: #F6FFF8;
    --white: #fff;
    --dim-layer: rgba(9, 55, 58, 0.95);
}


html {
    background-color: var(--brandLight);
    font-family: sans-serif;
}

body {
    line-height: 180%;
    -webkit-font-smoothing: antialiased;
    font-size: var(--em-size);
    color: var(--brand900);
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    font-family: var(--font-copy);
    font-weight: 500;
    margin: 0 auto;
    position: relative;
}

* {
    box-sizing: border-box;
}

::selection {
    background: var(--brand300)
}
::-moz-selection {
    background: var(--brand300)
}



  img,
  picture,
  video,
  canvas,
  svg {
      display: block;
      max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
      font: inherit;
  }

 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
        color: var(--brandDark);
        overflow-wrap: break-word;
  }

  h1 {
      font: 6rem/100% var(--font-headlines);
      margin: 0;
      font-weight: 600;
      letter-spacing: -4px;
  }

  h1.billboard {
      font-size: 8rem
  }

  h2 {
      font: 2.5rem/120% var(--font-headlines);
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
  }

  h3 {
      font: 1.5rem/120% var(--font-headlines);
      margin: 0 0 .5rem;
      font-weight: 700;
      letter-spacing: -.5px;

  }

  p, 
  ul, 
  ol, 
  li {
    font-family: var(--font-copy);
    line-height: 180%;
    color: inherit;
  }

  a {
    color: inherit;
  }

  .spacer {
      content: '';
      width: 100%;
      padding: 2rem;
  }
  
@media only screen and (max-width: 70rem) {
    h1, h1.billboard {
        font-size: 6rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 40rem) {
    h1, h1.billboard {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    body {
        font-size: 14px;
    }
}