---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Ribbon from "../../components/Ribbon.astro";
import Button from "../../components/Button.astro";
import Content from "../../view/Content.astro";
import ExperienceRow from "../../components/resume/ExperienceRow.astro";
import Icon from "../../components/Icon.astro";
---


<BaseLayout pageTitle="Resume" footerMessage="work" footerTarget="/">
    <div class="spacer"></div>
    <Content>
        <div class="header">
            <div>
                <h1>CV</h1>
            </div>
            <div>
                <h2>Karina Tovar</h2>
                <h2>Senior Product Designer</h2>
            </div>
            <a class="download-link" href="https://karinatovar.s3.us-east-2.amazonaws.com/KarinaTovar_Resume2023.pdf" target="_blank">
                <em><Icon name="clip" size="small" /></em>
                <span>Download <strong>PDF</strong></span>
            </a>
        </div>
    </Content>
    <Content>
                <h2>Work experience</h2>
                <ExperienceRow
                        type="main"
                        year="2023"
                        title="Senior Product Designer"
                        company="Glue"
                        startDate="June 2022"
                        endDate=" July 2023"
                        summary="As a member of the Product Leadership team, I collaborated with Product Management, Engineering, Data Science, and Sales teams to develop an AI-powered employee connection engine.">
                </ExperienceRow>
                <ExperienceRow
                        type="main"
                        year="2022"
                        title="Staff Product Designer"
                        company="Teikametrics"
                        startDate="June 2020"
                        endDate=" May 2022"
                        summary="I contributed to the transformation of Teikametrics' flagship application, Flywheel, into a powerful AI-based solution for managing advertising for eCommerce sellers on Amazon and Walmart.">
                </ExperienceRow>
                <ExperienceRow
                        type="main"
                        year="2020"
                        title="Product Lead"
                        company="Rejoiner"
                        startDate="May 20215"
                        endDate=" June 2020"
                        summary="During my tenure at Rejoiner, I played multiple roles as Product Manager, Product Designer, and Front-end Developer, driving the company's transformation from an agency partner to a full-fledged email marketing solution.">
                </ExperienceRow>
                <ExperienceRow
                        type="other"
                        year="2014">
                </ExperienceRow>
    </Content>
    <Content>
                <h2>Education</h2>
                <ExperienceRow
                        type="education"
                        year="2014"
                        school="Massachusetts College of Art & Design"
                        summary="Master of Fine Arts, Studio for Interrelated Media">
                </ExperienceRow>
                <ExperienceRow
                        type="education"
                        year="2011"
                        school="University of Texas at El Paso"
                        summary="Bachelors of Fine Arts, Graphic Design">
                </ExperienceRow>
    </Content>
</BaseLayout>

<style lang="scss">
    .header {
        display: flex;
        align-items: center;
        gap: 2rem;

        h2 {
            font-size: 3rem;
            &:last-of-type {
                color: var(--brand500);
                font-weight: 500;
            }
        }
        .download-link {
            text-decoration: none;
            margin-left: auto;
            width: 8rem;
            min-width: 8rem;
            height: 8rem;
            min-height: 8rem;
            border-radius: 8rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: var(--brand100);
            transition: all .3s ease-in-out;

            &:hover {
                background-color: var(--brand300);
            }
            span {
                display: flex;
                flex-direction: column;
                strong {margin-top: -.25rem;}
            }

            em {
                color: var(--brand500);
            }
        }
    }

    
</style>
