---
export interface Props {
    columns: string;
}

const { columns = "two" } = Astro.props;
---

<div class:list={`cards-grid ${columns}-columns`}>
    <slot></slot>
</div>

<style lang="scss">
    .cards-grid {
        display: grid;
        grid-gap: var(--spacing-small);
        justify-items: center;
        align-items: center;
        margin-top: var(--spacing-small);

        &.two-columns {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        &.three-columns {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            @media only screen and (max-width: 40rem) {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
        }
    }
</style>
