---
export interface Props {
    space?: string;
    type?: string;
}

const {
    space = 'large',
    type = 'standard'
} = Astro.props;

---

<div class:list={`content ${space} ${type}`}>
    <slot></slot>
</div>

<style lang="scss">
    .content {
        width: 100%;
        padding: 0 0 0;
        margin: 0 auto;

        &.standard {
            width: calc(100% - 12vw);
            max-width: 58rem;
        }

        &.large {
            padding-bottom: var(--spacing-large);
        }
        &.medium {
            padding-bottom: var(--spacing-medium);
        }
        &.small {
            padding-bottom: var(--spacing-small);
        }
        &.xsmall {
            padding-bottom: var(--spacing-xsmall);
        }
    }
</style>