---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../view/Content.astro";
import Icon from "../../components/Icon.astro";
import TextCard from "../../components/cards/TextCard.astro";
import Button from "../../components/Button.astro";
---

<BaseLayout
    pageTitle="Testimonials"
    footerMessage="work"
    footerTarget="/"
    showBanner="yes"
>
    <div class="spacer"></div>
    <Content>
        <h1 class="billboard">Let's work <span>together</span></h1>
        <p class="billboard">Fast, strategic, focused. Just a few things previous teammates hav said about working with me.</p>
        <div class="spacer-small"></div>
        <div class="quotes-wrapper">
            <TextCard type="quote" title="Worked together at Glue" copy="Anna is Senior Product Manager at Glue" author="Anna von Clemm" image="/images/quote-avc.png">
                <p slot="quote"><strong>Karina conducts a highly partnership-driven design process</strong> where the product and design owners are going back and forth to create something great. She is also great at collaborating to figure out what is possible and get ideas flowing between all teams.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Teikametrics" copy="Javier is Director of Product Management at JPMC Chase Shopping" author="Javier Irigoyen R." image="/images/quote-javier.png">
                <p slot="quote">Karina is able to not only bring rapid solutions to customer problems in the form of prototypes and final implementations, but also to <strong>flexibly wear her PM hat anytime in the different phases of the product development lifecycle.</strong></p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Rejoiner" copy="Ryan is Senior Software Engineer at Red Ventures" author="Ryan Kuczka" image="/images/quote-ryan.png">
                <p slot="quote"><strong>Karina has a solid grasp of the engineering that goes into the building of products.</strong> It was not uncommon for me to build out a bare-bones MVP of a feature and hand it off to Karina, only to come back the next day to a fully stylized and beautiful product.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Glue" copy="Laurent is Director of Product at Glue" author="Laurent Baumann" image="/images/quote-laurent.png">
                <p slot="quote"><strong>Karina is a super thoughtful product person, but what still impresses me regularly is her speed.</strong> It's not rapid-prototyping, it's near-instant-prototyping. Any company, from a founding team to a massive enterprise, would be lucky to have Karina in their team.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Glue" copy="Alex is a Software Engineer at Glue" author="Alex Lui" image="/images/quote-alex.png">
                <p slot="quote">Karina's ability to understand complex design challenges and come up with clever solutions that are also beautiful is absolutely incredible. <strong>She will pore over every detail to make sure that the requirements are smashed to smithereens to meet the high bar she sets just for herself.</strong></p>
            </TextCard>
        </div>
        <div class="cta">
            <Button theme="primary" href="https://www.linkedin.com/in/karina-tovar-castro/" target="_blank" text="See more in LinkedIn" />
        </div>
    </Content>
</BaseLayout>

<style lang="scss">
    .quotes-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
    .cta {
        padding: var(--spacing-medium) 0 0;
        display: flex; 
        align-items: center;
        justify-content: center;
    }
</style>
