---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../view/Content.astro";
import Icon from "../../components/Icon.astro";
import TextCard from "../../components/cards/TextCard.astro";
---

<BaseLayout
    pageTitle="Testimonials"
    footerMessage="work"
    footerTarget="/"
    showBanner="yes"
>
    <div class="spacer"></div>
    <Content>
        <h1 class="billboard">Let's work <span>together</span></h1>
        <p class="billboard">Fast, strategic, focused. Just a few things previous teammates hav said about working with me.</p>
        <div class="spacer-small"></div>
        <div class="quotes-wrapper">
            <TextCard type="quote" title="Worked together at Glue" copy="Anna is Senior Product Manager at Glue" author="Anna von Clemm" image="/images/quote-avc.png">
                <p slot="quote"><strong>Karina conducts a highly partnership-driven design process</strong> where the product and design owners are going back and forth to create something great. She is also great at collaborating to figure out what is possible and get ideas flowing between all teams.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Glue" copy="Anna is Senior Product Manager at Glue" author="Anna von Clemm" image="/images/quote-javier.png">
                <p slot="quote"><strong>Karina conducts a highly partnership-driven design process</strong> where the product and design owners are going back and forth to create something great. She is also great at collaborating to figure out what is possible and get ideas flowing between all teams.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Glue" copy="Anna is Senior Product Manager at Glue" author="Anna von Clemm" image="/images/quote-ryan.png">
                <p slot="quote"><strong>Karina conducts a highly partnership-driven design process</strong> where the product and design owners are going back and forth to create something great. She is also great at collaborating to figure out what is possible and get ideas flowing between all teams.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Glue" copy="Anna is Senior Product Manager at Glue" author="Anna von Clemm" image="/images/quote-laurent.png">
                <p slot="quote"><strong>Karina conducts a highly partnership-driven design process</strong> where the product and design owners are going back and forth to create something great. She is also great at collaborating to figure out what is possible and get ideas flowing between all teams.</p>
            </TextCard>
            <TextCard type="quote" title="Worked together at Glue" copy="Anna is Senior Product Manager at Glue" author="Anna von Clemm" image="/images/quote-alex.png">
                <p slot="quote"><strong>Karina conducts a highly partnership-driven design process</strong> where the product and design owners are going back and forth to create something great. She is also great at collaborating to figure out what is possible and get ideas flowing between all teams.</p>
            </TextCard>
        </div>
    </Content>
</BaseLayout>

<style lang="scss">
    .quotes-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
</style>
