---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardsGrid from '../view/ContentGrid.astro';
import Content from "../view/Content.astro";
import IntroCard from '../components/cards/IntroCard.astro';

---

<BaseLayout pageTitle='Home' background='background' footerMemoji='thumbsup' footerMessage='about' footerTarget='/' showBanner='yes'>
	<div class="spacer"></div>
	<Content>
		<h1 class="billboard-xl">Howdy</h1>
		<h2 class="ps">I'm Karina. A designer, artist, and code tinkerer.</h2>
		<p>I'm currently building Campsite, a tool that helps teams share and collaborate on work-in-progress.</p>
		<p>Before Campsite, I spent four years designing native mobile apps at GitHub.</p>
		<p>Before GitHub, I co-founded Spectrum, a platform for large-scale communities to have better public conversations. Spectrum was acquired by GitHub in November, 2018.</p>
	</Content>
	<Content>
		<CardsGrid columns='two'>
			<IntroCard
				type='link'
				theme='primary'
				headline='Work'
				image='/images/work-thumb.png'
				imageAlt='Case studies'
				href='/work/'>
				Case studies
			</IntroCard>
			<IntroCard
				type='link'
				theme='primary'
				headline='Dabbles'
				image='/images/dabbles-thumb.png'
				imageAlt='Dabbles'
				href='/dabbles/'>
				Side projects
			</IntroCard>
			<IntroCard
				type='link'
				theme='solo'
				headline='Thoughts'
				href='/posts/'
				icon='yes'>
				My thought bubble
			</IntroCard>
			<IntroCard
				type='link'
				theme='solo'
				headline='Artwork'
				href='/artwork/'
				icon='yes'>
				Art archive
			</IntroCard>
			<IntroCard
				theme='solo'
				headline='Located'>
				Somewhere around New England, USA
			</IntroCard>
			<IntroCard
				theme='solo'
				headline='Social'>
				<span><a href="https://www.linkedin.com/in/karina-tovar-castro/" target="_blank">LinkedIn</a>&nbsp;·&nbsp;<a href="https://github.com/karina-tc" target="_blank">Github</a></span>
			</IntroCard>
			</div>
		</CardsGrid>
	</Content>
</BaseLayout>

<style lang="scss">
	h2.ps {
		font-family: var(--font--copy);
		font-weight: 400;
		line-height: 180%;
		margin-top: 1rem;
	}
	.ribbon-links {
		padding-top: 1rem;
		display: flex;
		gap: 1rem;
	}

	.intro-card {
		width: 100%;
		display: flex;
		border-radius: 1rem;
		flex-direction: row;
		text-decoration: none;
		background-color: var(--brand50);
		overflow: hidden;
		position: relative;
		transition: all .2s ease-in-out;

		&.primary {
			background-color: var(--brand100);
			.text {
				padding: var(--spacing-medium) var(--spacing-small);
			}
		}
		.text {
			flex: 1;
			padding: var(--spacing-small);
			h2 {
				font-weight: 400;
			}
			p {
				margin: .5rem 0 0;
			}
			a {
				text-decoration: underline;
			}
		}
		.image {
			flex: 0 0 50%;
			color: var(--white);
			background-color: var(--brandDark);
		}

		.icon {
			position: absolute;
			height: 100%;
			width: 24px;
			right: var(--spacing-small);
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: all .2s ease-in-out;
		}

		&:hover {
			background-color: var(--brand300);
			&.link {
				margin: -8px 0 8px;
			}

			.icon {
				opacity: 1;
			}
		}
	}
</style>
