---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardsGrid from "../../view/ContentGrid.astro";
import Content from "../../view/Content.astro";
import IntroCard from "../../components/cards/IntroCard.astro";
---

<BaseLayout
    pageTitle="Dabbles"
    footerMessage="work"
    footerTarget="/"
    showBanner="yes"
>
    <div class="spacer"></div>
    <Content>
        <h1 class="billboard">Side <span>projects</span></h1>
        <div class="spacer"></div>
        <CardsGrid columns="two">
            <IntroCard
                type="link"
                theme="primary"
                headline="RealChar AI"
                image="/images/dabbles-thumb.png"
                imageAlt="Real Char case study"
                href="/dabbles/"
            >
                <p>2023 · Glue</p>
            </IntroCard>
        </CardsGrid>
    </Content>
</BaseLayout>

<style lang="scss"></style>
