---

export interface Props {
 	text: string;
    href: string;
    target: string;
    theme?: string;
}

const { text, href, target, theme } = Astro.props;

---

<a class:list={`button ${theme}`} href={href} target={target}>
    <span>{text}</span>
</a>

<style lang="scss">
    .button {
		width: fit-content;
        display: flex;
        text-decoration: none;
		font-size: 1.1rem;
		padding: var(--spacing-xsmall) var(--spacing-small);
		border-radius: 1rem;
		transition: all .3s ease-in-out;
        background-color: var(--brandLight);
		border: 2px solid var(--brandLight);

		&:hover {
			border-color: var(--brandDark);
			background-color: var(--brandLight);
		}

		&.primary {
			font-weight: 700;
			color: var(--greenDark);
			background-color: var(--brand300);

			&:hover {
				color: var(--brandLight);
				border-color: var(--greenPaper);
				background-color: var(--brandDark);
			}
		}
	}
</style>