---
import Icon from './Icon.astro';
export interface Props {}

const {} = Astro.props;

---

<article id="colophon">
  <section class="content">
    <div class="top">
        <h2>Colophon</h2>
        <a class="close" href="#nav">
          <Icon name='close' size='small' />
        </a>
    </div>
    <div class="stack">
      <div class="row">
        <div class="cell">
          <img src="/public/images/f-astro.svg" alt="AstroJS Logo" />
        </div>
        <div class="cell">
          <p>AstroJS</p>
          <span>Framework</span>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <img src="/public/images/f-netlify.svg" alt="Netlify Logo" />
        </div>
        <div class="cell">
           <p>Netlify</p>
          <span>Deploys</span>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <img src="/public/images/f-attipo.svg" alt="Attipo Foundry Logo" />
        </div>
        <div class="cell">
          <p>Attipo</p>
          <span>Archia - Type</span>
        </div>
      </div>
    </div>
    <span>This site was built for you ❤️</span>
  </section>
</article>

<style lang="scss">
  /* This handles the overlay or dim layer */
  article {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding: var(--spacing-medium) 0;
    justify-content: center;
    inset: 0;
    overflow: hidden;
    background: var(--theme-menu);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    transition: opacity linear 0.2s;
    z-index: 2;
    height: 100%;
    top: 0;

    /* When targetted with #modalID */
    &:target {
      pointer-events: inherit;
      opacity: 1;
    }

    /* When the details is clicked, the animation is triggered on summary */
    &:target section {
      animation: appear 0.5s var(--timing-curve-bounce);
    }
  }

  /* This handles the actual centered modal */
  .content {
    position: relative;
    width: 90%;
    max-width: 24rem;
    color: var(--theme-ink);
    padding: var(--spacing-small);
    background-color: var(--theme-background);

    .top {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      a {text-decoration: none;}
    }

    .stack {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--spacing-small);
      margin: var(--spacing-small) 0;
    }
    .row {
      color: var(--theme-ink);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: .5rem;
      .cell {
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;

        p {font-weight: 600; margin: 0;}
        span {font-size: 0.75rem; margin: 0;}
      }
    }
  }

  /* Magic */
  @keyframes appear {
    from {
      transform: scale(0.9);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
