---
import Colophon from './Colophon.astro';

export interface Props {
    message?: string;
    messageTarget?: string;
    memoji?: string;
}

const { message, messageTarget, memoji } = Astro.props;
---

<footer class="animate__animated animate__slideInUp">
    <div class="left">
        <p>© <span id="currentYear"></span> Karina Tovar</p>
    </div>
    <div class="right">
        <a href="#colophon">Colophon</a>
        <a href='mailto:hello@karinatovar.com' target='_blank'>Say hello</a>
    </div>
    <Colophon />
</footer>

<style lang="scss">
    footer {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
        display: flex;
        gap: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            p {margin: 0;}
        }
        .right {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            p {margin: 0;}
            a {text-decoration: none;}
        }
    }
    @media only screen and (max-width: 50rem) {
        footer {
            flex-direction: column;
            gap: var(--spacing-xsmall);
            padding: 1rem 0 2rem;
        }
    }
</style>

<script>
  const currentYearElement = document.getElementById('currentYear');
  if (currentYearElement) {
    currentYearElement.textContent = new Date().getFullYear().toString();
  }
</script>
