---
export interface Props {
    message?: string;
    messageTarget?: string;
    memoji?: string;
}

const { message, messageTarget, memoji } = Astro.props;
---

<footer class="animate__animated animate__slideInUp">
    {message && (<div class="action">
        {message === 'together' && (
            <div class="message">
                <a href="/testimonials/"><h2>Let's work <span>together</span></h2></a>
            </div>
        )}
        {message === 'about' && (
            <div class="message">
                <a href="/about/"><h2>Get to <span>know me</span></h2></a>
            </div>
        )}
        {message === 'resume' && (
            <div class="message">
                <a href="/resume/"><h2>See my <span>resume</span></h2></a>
            </div>
        )}
    </div>
    )}
    <div class="bottom">
        <div class="left">
            <p>© <span id="currentYear"></span> Karina Tovar</p>
        </div>
        <div class="right">
            <span>This site was built <strong>for you</strong> ❤️</span>
            <a href="mailto:hello@karinatovar.com" target="_blank">Say hello</a>
        </div>
    </div>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;  
    }
    .bottom {
        width: calc(100% - 12vw);
        max-width: 70rem;
        margin: 0 auto 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;

        .left, 
        .right {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: baseline;
        }
    }
    .action {
        padding: 5rem 2rem;

        .message {
            width: calc(100% - 12vw);
            max-width: 70rem;
            margin: 0 auto;
            text-align: center;

            a {
                cursor: pointer;
                text-decoration: none;
                font-family: var(--font-headlines);
                
                span {
                    display: inline-flex;
                    color: inherit;
                    background-image: url('/public/images/footer-span.svg');
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: all .3s ease-in-out;
                    padding-bottom: 1rem;
                }

                &:hover span {
                    color: var(--green500);
                }
            }
        }

    }
    @media only screen and (max-width: 40rem) {
        .bottom {
            align-items: center;
            .left, .right {
                width: 100%;
                justify-content: center;
            }
        }
        .memoji {
            width: 6rem;
            height: 6rem;
            min-height: 6rem;
            min-width: 6rem;
        }
    }
</style>

<script>
  const currentYearElement = document.getElementById('currentYear');
  if (currentYearElement) {
    currentYearElement.textContent = new Date().getFullYear().toString();
  }
</script>
