---
export interface Props {
    message?: string;
    messageTarget?: string;
    memoji?: string;
}

const { message, messageTarget, memoji } = Astro.props;
---

<footer class="animate__animated animate__slideInUp">
    {memoji && (
        <div class:list={`memoji ${memoji}`}></div>
    )}
    {message && (<div class="action">
        {message === 'work' && (
            <div class="message">
                <a href={messageTarget}><h2>Let's work <span>together</span></h2></a>
            </div>
        )}
    </div>
    )}
    <div class="bottom">
        <div class="left">
            <p>Karina Tovar</p>
            <p>© 2023</p>
        </div>
        <div class="right">
            <span>This site was built <strong>for you</strong> ❤️</span>
            <a href="mailto:hello@karinatovar.com" target="_blank">Say hello</a>
        </div>
    </div>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;  
    }

    .memoji {
        content: '';
        margin: var(--spacing-medium) auto -4rem;
        width: 10rem;
        height: 10rem;
        min-height: 10rem;
        min-width: 10rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.thumbsup {
            background-image: url('/public/images/memoji-thumbsup.png');
        }
        &.thinking {
            background-image: url('/public/images/memoji-thinking.png');
        }
    }
    .bottom {
        width: calc(100% - 12vw);
        max-width: 58rem;
        margin: 0 auto 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;

        .left, 
        .right {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: baseline;
        }

        .left {
            p:first-of-type {
                font-family: var(--font-headlines);
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
    }
    .action {
        padding: 4rem 2rem;
        background-image: url('/public/images/bg-footer.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        .message {
            width: calc(100% - 12vw);
            max-width: 58rem;
            margin: 0 auto;
            text-align: center;

            a {
                cursor: pointer;
                text-decoration: none;
                font-family: var(--font-headlines);
                
                span {
                    display: inline-flex;
                    color: inherit;
                    background-image: url('/public/images/footer-span.svg');
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: all .3s ease-in-out;
                    padding-bottom: 1rem;
                }

                &:hover span {
                    color: var(--green500);
                }
            }
        }

    }
    @media only screen and (max-width: 40rem) {
        .bottom {
            align-items: center;
            .left, .right {
                width: 100%;
                justify-content: center;
            }
        }
        .memoji {
            width: 6rem;
            height: 6rem;
            min-height: 6rem;
            min-width: 6rem;
        }
    }
</style>