---
export interface Props {
 	text?: string;
  href?: string;
  target?: string;
}
const { text, href, target } = Astro.props;
---

<a class="glow-cta" href={href} target={target}>
    {text}
</a>

<style lang="scss">
    .glow-cta {
        color: var(--light-ink);
        text-decoration: none;
        background: var(--light-base);
        padding: 8px 16px;
        position: relative;
        border-radius: 8px;
        margin-top: 2rem;
        width: fit-content;
        box-shadow: 0 0 0 1px rgba(0,0,0,.01);

    &::after {
        position: absolute;
        content: "";
        top: 6px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.8) translateZ(0);
        filter: blur(8px);
        border: 2px solid var(--light-ink);
        transition: all 0.5s ease-in-out;
    }

    &:hover::after {
      transform: scale(0.9) translateZ(0);
      border-color: var(--highlights-wine);
    }
  }

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
</style>