---
import '../styles/global.css';
import Menu from './Menu.astro';
import Content from '../view/Content.astro';
---

<div class="header">
    <a class="mark" href="/"></a>
    <Menu href="#open-sesame" />
</div>

<style lang="scss">
    .header {
        width: 100%;
        margin: auto;
        max-width: 60rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        padding: var(--spacing-small) 0 var(--spacing-xsmall);
        top: 0rem;
        z-index: 1;

        .mark {
            content: '';
            width: 80px;
            height: 80px;
            min-width: 80px;
            min-height: 80px;
            background-image: url('/public/images/mark.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media only screen and (max-width: 70rem) {
        .header {
            width: 90%;
        }
    }
</style>