---
import '../styles/global.css';
import Icon from './Icon.astro';
import Menu from './menu/Menu.astro';
---

<div id="nav" class="header nav-listener">
    <div class="wrapper">
        <div class="left">
            <a class="mark" href="/"></a>
            <Menu />
        </div>
        <div class="right tod">
            <span class="sunrise">
                <Icon name='sunrise' size='small' />
            </span>
            <span class="sunset">
                <Icon name='sunset' size='small' />
            </span>
            <span class="evening">
                <Icon name='evening' size='small' />
            </span>
            <p id="greeting"></p>
        </div>
    </div>
</div>

<style lang="scss">
    .header {
        width: 100%;
        top: 0rem;
        z-index: 1;
        padding-top: 1rem;
        background-color: var(--sunrise);

        &.onthemove {
            padding-top: 0;
            position: sticky;
            background-color: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(10px);
        }
        
        
        .wrapper {
            width: 100%;
            margin: auto;
            max-width: 70rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--spacing-xsmall) 0 var(--spacing-xsmall);
        }

        .left {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .right {
            display: flex;
            gap: 1rem;
            align-items: center;

            &.sunrise span.sunset, &.sunrise .evening {display: none;}
            &.sunset span.sunrise, &.sunset .evening {display: none;}
            &.evening span.sunrise, &.evening .sunset {display: none;}
        }

        .mark {
            content: '';
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            background-image: url('/public/images/mark.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.invert {
            background-color: rgba(0, 0, 0, 0.5);
            .mark {
                background-image: url('/public/images/mark-white.svg');
            }

            .right {
                color: var(--white);
            }
        }
    }

    @media only screen and (max-width: 70rem) {
        .header .wrapper {
            width: 88%;
        }
    }
</style>