---
import '../styles/global.css';
import Menu from './menu/Menu.astro';
---

<div class="header">
    <div class="wrapper">
        <div class="left">
            <a class="mark" href="/"></a>
            <Menu />
        </div>
        <div class="right">
            Morning
        </div>
    </div>
</div>

<style lang="scss">
    .header {
        width: 100%;
        //sbackground-color: rgba(228, 231, 255, 1);
        background-color: var(--sunrise);
        top: 0rem;
        z-index: 1;
        position: sticky;
        backdrop-filter: blur(10px);
        padding-top: 1rem;
        
        .wrapper {
            width: 100%;
            margin: auto;
            max-width: 70rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--spacing-xsmall) 0 var(--spacing-xsmall);
        }

        .left {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        .mark {
            content: '';
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            background-image: url('/public/images/mark.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media only screen and (max-width: 70rem) {
        .header {
            width: 90%;
        }
    }
</style>