---
export interface Props {
 	split?: string;
}
const { split } = Astro.props;
---

<div class="topper">
    <div class="wrapper">
        <div class="column left">
            <slot name="content" />
        </div>
        {split === 'true' && (
            <div class="column">
                <slot name="assistant" />
            </div>
        )}
    </div>
</div>

<style lang="scss">
    .topper {
        width: 100%;
        padding: 10rem var(--spacing-medium) var(--spacing-large);
        background-color: var(--main-color);
        transition: all 0.3s ease-in-out;
        will-change: transform;

        .wrapper {
            width: 100%;
            margin: auto;
            max-width: 70rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .column.left {
                min-width: 45vw;
            }
        }
    }
</style>