---
export interface Props {
 	split?: string;
    isFull?: string;
}
const { split, isFull } = Astro.props;
---

{isFull && (
    <div class="topper full">
        <div class="wrapper">
            <div class="column left">
                <slot name="content" />
            </div>
            {split === 'true' && (
                <div class="column">
                    <slot name="assistant" />
                </div>
            )}
        </div>
    </div>
)}
{!isFull && (
    <div class="topper">
        <div class="wrapper">
            <div class="column left">
                <slot name="content" />
            </div>
            {split === 'true' && (
                <div class="column">
                    <slot name="assistant" />
                </div>
            )}
        </div>
    </div>
)}

<style lang="scss">
    .topper {
        width: 100%;
        padding: var(--spacing-small) var(--spacing-small) var(--spacing-medium);
        background-color: var(--main-color);
        transition: all 0.3s ease-in-out;
        position: relative;
        will-change: transform;
        &.full {
            flex: 1;
        }
        &::before {
            content: '';
            display: block;
            width: 100%;
            min-height: 68px;
            padding: var(--spacing-small) 0 var(--spacing-small);
            background-color: var(--main-color);
            position: absolute;
            top: -130px;
            left: 0;
            right: 0;
            will-change: transform;
            transition: all 0.3s ease-in-out;
        }

        .wrapper {
            width: 100%;
            margin: auto;
            max-width: 70rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .column.left {
                min-width: 45vw;
            }
        }
    }
</style>