---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../view/Content.astro";
import Icon from "../../components/Icon.astro";
---

<BaseLayout
    pageTitle="Work"
    footerMessage="resume"
    footerMemoji="thinking"
    footerTarget="/"
    showBanner="yes"
>
    <div class="spacer"></div>
    <Content>
        <h1 class="billboard">Work</h1>
    </Content>
</BaseLayout>

<style lang="scss"></style>
