---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardsGrid from '../../view/ContentGrid.astro';
import Content from "../../view/Content.astro";
import IntroCard from '../../components/cards/IntroCard.astro';
---

<BaseLayout
    pageTitle="Work"
    footerMessage="resume"
    footerMemoji="thinking"
    footerTarget="/"
    showBanner="yes"
>
    <div slot="topper">
        <h1 class="billboard">Design case studies</h1>
        <br />
        <p class="billboard">My design philosophy is simple.<br /><br /><strong>Build simple, useful products.</strong> For me, design is a service industry. My goal is to help people navigate their lives. Users come to you for a solution that is bigger than your features. My drive is to help provide a business moat that helps products succeed and drives customer happiness. </p>
	</div>
    <div class="spacer"></div>
    <Content>
        <CardsGrid columns="two">
            <IntroCard
                width="full"
				type='link'
				theme='primary'
				headline='Increasing customer acquisition by 40% with a simplified take on a feature request'
				image='/images/work-thumb.png'
				imageAlt='Pulse case study'
				href='/work/'>
				<p>2023 路 Glue</p>
			</IntroCard>
            <IntroCard
                width="full"
				type='link'
				headline='Expediting users onboarding and activation with a productized onboarding flow'
				image='/images/work-thumb.png'
				imageAlt='Onboarding case study'
				href='/work/'>
				<p>2023 路 Glue</p>
			</IntroCard>
            <IntroCard
                width="full"
				type='link'
				headline='Increasing user engagement by more than 30% for an AdTech AI-powered leader'
				image='/images/work-thumb.png'
				imageAlt='Flywheel case study'
				href='/work/'>
				<p>2022 路 Teikametrics</p>
			</IntroCard>
            <IntroCard
                width="full"
                type='link'
                headline='Building an innovative MarTech product that outcompetes'
                image='/images/work-thumb.png'
                imageAlt='Rejoiner case study'
                href='/work/'>
                <p>2020 路 Rejoiner</p>
            </IntroCard>
        </CardsGrid>
    </Content>
</BaseLayout>

<style lang="scss"></style>
