---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardsGrid from "../../view/ContentGrid.astro";
import Content from "../../view/Content.astro";
import IntroCard from "../../components/cards/IntroCard.astro";
---

<BaseLayout
    pageTitle="Thoughts"
    footerMessage="together"
    footerMemoji="thumbsup"
    footerTarget="/"
    showBanner="yes"
>
    <div slot="topper">
        <h1 class="billboard">Thought bubble</h1>
        <p class="billboard">Lessons and thoughts</p>
	</div>
    <div class="spacer"></div>
    <Content>
        <CardsGrid columns="">
            <IntroCard
                type="link"
                theme="rows"
                headline="Well, that got me thinking..."
                image="/images/artwork/noise.jpeg"
                imageAlt="Real Char case study"
                href="/posts/post-1/">
                <p>Recently, someone asked me a question that completely caught me off guard...</p>
                <p>3 mins read · June 2023</p>
            </IntroCard>
            <IntroCard
                type="link"
                theme="rows"
                headline="Well, that got me thinking..."
                image="/images/artwork/noise.jpeg"
                imageAlt="Real Char case study"
                href="/posts/post-1/">
                <p>Recently, someone asked me a question that completely caught me off guard...</p>
                <p>3 mins read · June 2023</p>
            </IntroCard>
            <IntroCard
                type="link"
                theme="rows"
                headline="Metaphorically speaking"
                image="/images/artwork/noise.jpeg"
                imageAlt="Real Char case study"
                href="/posts/post-1/">
                <p>A designer's value lies in two critical aspects that are often underestimated...</p>
                <p>3 mins read · June 2023</p>
            </IntroCard>
        </CardsGrid>
    </Content>
</BaseLayout>

<style lang="scss"></style>
