---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../view/Content.astro";
import ContentGrid from "../../view/ContentGrid.astro";
import IntroCard from "../../components/cards/IntroCard.astro";
import BlogNav from "../../components/blog/BlogNav.astro";
import BlogHeader from "../../components/blog/BlogHeader.astro";
import BlogText from "../../components/blog/BlogText.astro";


// Meta Data
let title = "Metaphorically speaking";
let pubDate = "June 20, 2023";
let detail = "Reflections on the broken user experience of finding a rental home.";
---

<BaseLayout pageTitle={title} showBanner="yes" hasContent="true">
    <BlogNav pubDate={pubDate} />
    <BlogHeader title={title} detail={detail} />
    <BlogText className="first">
        <p>A designer's value lies in two critical aspects that are often underestimated.</p>
        <p>First and foremost, designers must have a deep understanding of a business's goals and strategy. Without this understanding, it becomes challenging to grasp the true business needs and the jobs to be done that your users are trying to accomplish.</p>
        <p>Secondly, the ability to sell is often overlooked by designers at various levels of experience. It is crucial to effectively communicate the value of your designs to stakeholders, painting a clear picture of how your pixels solve problems.</p>
        <p>Throughout my career, I have consistently been invited to have a seat at the table in every organization I've worked with. I am proud of this because I work hard to earn stakeholder trust.</p>
        <blockquote>
            <p>I firmly believe that designers are most impactful when they can articulate user needs and desires within high-level strategic discussions. Our mission is to be useful, in whichever way, whatever it takes.</p>
        </blockquote>
    </BlogText>
    <div class="blog-image">
        <img src="/images/artwork/bruxism.png" alt="text" />
    </div>
    <BlogText>
        <h2>Some headline</h2>
        <p>True innovation and world-changing design never occurs by remaining within your role and pushing that rectangle across your Figma screen until it just looks right. Designers must actively participate in shaping conversations and pushing boundaries, going beyond the pixels to create magical experiences.</p>
        <p><strong>Let me paint a picture here.</strong></p>
        <p>The scene is at a recent experience as a Senior Designer at Glue. During a meeting with our Director of Product, the project's Product Manager, an Engineer, and two Data Scientists, we were discussing the implementation of a side panel in our product’s Connection Health dashboard. The conversation became mired in details, such as available data points and potential attribution mechanisms.</p>
        <p>Feeling frustrated because the core objective was being overshadowed, I leveraged my witty sense of humor and used an analogy to inject clarity and purpose into the discussion.</p>
        <p>I compared our task to helping Wendie (our main target user) understand why a dog barks. Our product was telling her that the dog barked without providing the "why," causing her frustration, lack of trust and therefore the reason why our Sales team was not able to help Glue get stuck in Wendie’s mind.</p>
        <p>I pushed the metaphor in order to help my teammates understand that by providing context within our data and rich visualizations, we could help Wendie understand the plausible reasons behind the dog's bark, allowing her to make informed decisions AND increase the number of closed deals for our product.</p>
        <p>This analogy transformed the project's understanding for my teammates. Our goal was finally clear. We needed to equip our sales team with a tool that gave Wendie a full flywheel effect of the benefits of our product within one screen. That way during sales calls, Wendie would want to learn more, giving our Sales team the ability to form a narrative and story that could impress.</p>
        <p>Story aside…</p>
        <h2>Some headline</h2>
        <p>Designers possess the unique skill of distilling complexity into pixels. However, their true power lies in their ability to disseminate ideas through simple stories that engage team members and align them with a project's core objective.</p>
        <p>Metaphorically speaking, a designer's ability to paint a picture is worth more than a thousand pixels.</p>
    </BlogText>
    <Content>
        <ContentGrid columns="two">
            <IntroCard>hi</IntroCard>
            <IntroCard>hi</IntroCard>
        </ContentGrid>
    </Content>
</BaseLayout>

